[run]
omit =
    */migrations/*
    */tests/*
    */management/*
    ai/actions/detectors/*
    ai/agents/*
    ai/prompts/*
    ai/services/*
    ai/conversations/seed/*
    ai/chains/streamable.py
    ai/chains/traceable.py
    ai/memories/histories/*
    ai/memories/sql_memory.py
    ai/agents/tools/*
    ai/agents/service.py
    ai/actions/service.py
    ai/actions/serializers.py
    ai/actions/views.py
    ai/chains/retrieval.py
    ai/chains/views.py
    ai/callbacks/stream.py
    ai/embeddings/*
    ai/llms/*
    ai/embeddings/tasks.py
    ai/vector_stores/*
    ai/conversations/pdf/views.py
    ai/conversations/serializers.py
    ai/views.py
    ai/agents/memory_service.py
    ai/services/social.py
    ai/services/tasks.py
    sponsorship/donations/views.py
    sponsorship/campaign/views.py
    sponsorship/sponsors/views.py
    sponsorship/children/views.py
    sponsorship/events/views.py
    sponsorship/communications/views.py
    sponsorship/payment_utils.py
    shop/views.py
    cart/views.py
    team/views.py
    users/views.py
    project/views.py
    budget/views.py
    seed/views.py
    seed/aggregations/service.py
    seed/aggregations/views.py
    seed/payments/views.py
    seed/payments/adapters/*
    seed/payments/serializers.py
    seed/payments/utils.py
    seed/news/views.py
    seed/news/permissions.py
    seed/serializers.py
    seed/services/setup.py
    seed/signals.py
    notifications/views.py
    notifications/models.py
    notifications/registry.py
    notifications/rules.py
    notifications/userpreferences/views.py
    broadcast/*
    landing/*
    social/permissions.py
    social_auth/register.py
    users/otp/utils.py
    users/otp/views.py
    users/permissions.py
    users/serializers.py
    users/renderers.py
    users/otp/permissions.py
    users/otp/tests.py
    users/otp/urls.py
    users/otp/admin.py
    users/otp/apps.py
    users/otp/models.py
    users/otp/__init__.py
    utils/validators.py
    utils/utils.py

[report]
show_missing = True
skip_covered = False
